.title {
    font-size: 60px;
    line-height: 1;
    font-weight: bold;
    position: relative;
    text-align: center;
    color: var( --color_main);
    font-family: "Tomorrow", sans-serif;
    letter-spacing: 4px;
}

.text {
    font-size: 20px;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
}