.snsList {
    display: flex;
    justify-content: space-between;
    width: 580px;
    margin: auto;
    margin-top: 48px;
}

.snsListItem {
    width: 56px;
    height: auto;

    &:hover {
        opacity: 0.6;
    }
}

.snsListImg {
    width: 100%;
}

.snsListImgNote {
    transform: scale(1.8);
}

.text {
    font-size: 20px;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
}

.title {
    font-size: 60px;
    line-height: 1;
    font-weight: bold;
    position: relative;
    text-align: center;
    color: var( --color_main);
    font-family: "Tomorrow", sans-serif;
    letter-spacing: 4px;
}
