.facinatedList {
    display: flex;
    justify-content: space-between;
    margin: 48px auto 0;
    max-width: 980px;
}

.facinatedListItem {
    width: 30%;
    text-align: center;
}

.facinatedListImgWrapper {
    width: 80px;
    height: 80px;
    background: var( --color_main);
    border-radius: 50%;
    margin: auto;
    position: relative;

    img {
        width: 40%;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .facinatedImgWalk {
        width: 48%;
    }

    .facinatedImgPower {
        width: 36%;
    }

    .facinatedImgColorLens {
        width: 48%;
    }

    .facinatedImgAirplane {
        width: 36%;
    }

    .facinatedImgEmbed2 {
        width: 44%;
    }
}

.facinatedTitle {
    font-size: 18px;
    font-weight: bold;
    margin-top: 24px;
}

.facinatedText {
    border-radius: 8px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
    margin: 32px 12% 0;
    padding: 12px;
    line-height: 1.6;
    text-align: left;
    font-style: 14px;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        transform: translateY(-50%) rotate(-45deg) skew(-12deg, -12deg);
        border-radius: 2px;
        background: #fff;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
        width: 20px;
        height: 20px;
    }

    &:after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        background: #fff;
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
}

.facinatedTextInner {
    position: relative;
    z-index: 5;
}

.facinatedTextHead {
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}
